$darkBG: hsl(209, 23%, 22%);
$darkElement: hsl(207, 26%, 17%);
$darkText: hsl(0, 0%, 100%);
$darkShadow: 0 1px 5px 1px #111;

$lightText: hsl(200, 15%, 8%);
$lightInput: hsl(0, 0%, 52%);
$lightBG: hsl(0, 0%, 98%);
$lightElement: hsl(0, 0%, 100%);
$lightShadow: 0 1px 5px 1px #eee;
