@use "../../styles/abstracts/colors" as *;

.header {
  height: 65px;
  width: 100%;
  background-color: $lightElement;
  padding: 0 2rem;
  box-shadow: $lightShadow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;

    h1 {
      font-weight: 800;
    }

    button {
      border: unset;
      background-color: unset;
      font-weight: 600;
      cursor: pointer;
      display: flex;
      gap: 5px;
    }
  }
}

// dark mode
.dark {
  background-color: $darkElement;
  color: $darkText;

  button {
    color: $darkText;
  }
}

//media query
@media screen and (max-width: 400px) {
  .header {
    padding: 1rem;

    .container > h1 {
      font-size: 16px;
    }
  }
}
