.header {
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  padding: 1rem 2rem;
  box-shadow: 0 1px 5px 1px #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;

    h1 {
      font-weight: 800;
    }

    button {
      border: unset;
      background-color: unset;
      font-weight: 600;
      cursor: pointer;
      display: flex;
      gap: 5px;
    }
  }
}

@media screen and (max-width: 400px) {
  .header {
    padding: 1rem;

    .container > h1 {
      font-size: 16px;
    }
  }
}
