@use "../../../styles/abstracts/colors" as *;

.selectRegion {
  position: relative;

  .input {
    width: 170px;
    background-color: $lightElement;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: $lightShadow;
    padding: 1rem;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    user-select: none;
    font-weight: 600;
  }

  .options {
    background-color: $lightElement;
    position: absolute;
    width: 100%;
    margin-top: 5px;
    box-shadow: $lightShadow;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    z-index: 10;

    p {
      padding: 0.3rem 1rem;
      cursor: pointer;
      border-radius: 4px;
      font-weight: 300;
    }

    p:hover {
      background-color: #eee;
    }
  }

  .Hideoptions {
    display: none;
  }
}

.dark {
  .input {
    background-color: $darkElement;
    box-shadow: $darkShadow;
    color: $darkText;
  }

  .options {
    background-color: $darkBG;
    box-shadow: $darkShadow;
    color: $darkText;

    p:hover {
      background-color: $darkElement;
    }
  }
}

@media screen and (max-width: 610px) {
  .selectRegion {
    margin: 2rem 0;
  }
}
